@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*:before, *, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, input, textarea, select, button {
    font: 400 16px/1.3 'Roboto', sans-serif;
}

li {
    display: block;
}

a {
    text-decoration: none;
    color: unset;
}

/* PAGE */

header {
    background-color: #363636;
    color: white;
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
}

header .socials{
    padding: 1rem;
}

header .socials a {
    margin-left: .5rem;
}

header nav ul{
    display: flex;
}

header li a{
    display: inline-block;
    padding: 1rem;
}

header li a.link, header li a:hover {
    background-color: #5c5c5c;
}

main h1 {
    font-size: 2rem;
}

main h2 {
    margin-bottom: 1rem;
}

hr{
    background-color: #5c5c5c;
    border-radius: 50%;
    height: .3rem;
    margin: 3rem 1rem;
}

.container{
    width: 100%;
    max-width: 960px;
    padding: 2rem .7rem;
    margin: auto;
}

.alert{
    padding: 1rem;
    margin: 2rem 0;
    border-radius: .3rem;
    background-color: #c7c7c7;
    font-style: italic;
}

.alert.error{
    background-color: #d54141;
    color: white;
}

.alert.success{
    background-color: #23a123;
    color: white;
}

pre {
    background-color: #1f1f1f;
    color: white;
    padding: 2rem;
    margin: 2rem 0;
    overflow-x: auto;
    border-radius: 1rem;
}

p > code, li > code {
    color: #23a123;
}

form > * {
    display: block;
    width: 100%;
    margin-bottom: .3rem;
}

form > label {
    font-weight: 700;
}

form > input, form > select, form > textarea{
    margin-bottom: 1rem;
    padding: .3rem;
    border: 1px solid #c7c7c7;
    outline: none;
    border-radius: .3rem;
}

form input[type="submit"] {
    width: fit-content;
}

form .error {
    color: #d54141;
    font-style: italic;
}

form .error + * {
    border: 2px solid #d54141;
}

.error-404{
    text-align: center;
    font-size: 10rem;
    font-weight: 700;
}

.error-404 + p {
    text-align: center;
    font-style: italic;
    font-size: 2rem;
}

.error-404 + p > span{
    color: #d54141;
}

::-webkit-scrollbar {
    width: .5rem;
    height: .5rem;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: none;
    border-radius: 2rem;
}
